body::before {
  content: "";
  background-image: url("/static/backgrounds/bg_main.jpg");
  opacity: 0.3;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
body {
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}
