{% extends 'base.html' %}
{% load static %}
{% block title %} СувИОС | Домашняя страница {% endblock %}

{% block content %}
<div class="" id="">
     



          <h1 class="name">СувИОС</h1>
          <div class="info-text">
            <p>Проверьте свои знания.</p>
              <p>Готовим лидеров для сильной армии и великой страны.</p>

          {% if not request.user.is_active %}

          <p>Зарегистрируетесь, если у вас нет еще аккаунта.</p>
          <p><strong> Начните здесь:</strong></p>
          <a href="{% url 'quiz:register' %}" class="btn1"> Зарегистрируетесь</a>


          {% else %}
          <h5 color="LightSeaGreen">Добро пожаловать, {{ request.user.username }} </h5>
              <a href="{% url 'quiz:subjects' %}" class="btn1">Играть</a>
              <a href="{% url 'quiz:leaderboard' %}" class="btn1">Таблица Лидеров</a>
              {% with user_id=request.user.id %}
                <a href="{% url 'quiz:profile' %}" class="btn1">Профиль</a>
              {% endwith %}
          {% endif %}
          </div>

      </div>
      
{% block js %}

{% endblock %}

{% endblock %}

