{% extends 'base.html' %}
{% block title %} СувИОС | Таблица Лидеров {% endblock title %}
{% block content %}
{% if request.user.is_active %}
  <div class="lead">
    <h1><span><i aria-hidden="true"></i> Рейтинг игроков <i aria-hidden="true"></i></span></h1>
    <div class="row">
                <div class="col">Позиция</div>
                <div class="col">Имя</div>
                <div class="col">Счет</div>
            {% for quiz_profile in top_quiz_profiles %}

        <div class="row">
               <div class="col small">{{ forloop.counter }}</div>
                {% with profile_id=quiz_profile.id %}
               <div class="col small">{{ quiz_profile.user.username }}</div>
               {% endwith %}
               <div class="col small">{{ quiz_profile.total_score }}</div>

        </div>
            {% endfor %}
    </div>
  </div>
{% else %}
  <div class="lead">
    <h1><span><i aria-hidden="true"></i> Рейтинг игроков <i aria-hidden="true"></i></span></h1>
    <table>
        <thead>
            <tr>
                <th>Позиция</th>
                <th>Имя</th>
                <th>Счет</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz_profile in top_quiz_profiles %}
            <tr>
               <td class="small">{{ forloop.counter }}</td>
               <td class="small">{{ quiz_profile.user.username }}</td>
               <td class="small">{{ quiz_profile.total_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
  </div>
{% endif %}
{% endblock content %}