{% extends 'base.html' %}
{% block title %} СувИОС | Таблица Лидеров {% endblock title %}
{% block content %}
    <div class="container lead">
{% if request.user.is_active %}


    <h1><span><i aria-hidden="true"></i> Рейтинг игроков <i aria-hidden="true"></i></span></h1>
    <div class="row">
                <div class="col-4">Позиция</div>
                <div class="col-4">Имя</div>
                <div class="col-4">Счет</div>
        </div>
            {% for quiz_profile in top_quiz_profiles %}

        
<div class="row">
    <div class="col small"><b style="font-size: 18px; font-weight: bold;">{{ forloop.counter }}</b></div>
     {% with profile_id=quiz_profile.id %}
    <div class="col small"><b style="font-size: 18px; font-weight: bold;">{{ quiz_profile.user.username }}</b></div>
    {% endwith %}
    <div class="col small"><b style="font-size: 18px; font-weight: bold;">{{ quiz_profile.total_score }}</b></div>
        </div>

        
            {% endfor %}


{% else %}

    <h1><span><i aria-hidden="true"></i> Рейтинг игроков <i aria-hidden="true"></i></span></h1>
    <div class="row">
                <div class="col-4">Позиция</div>
                <div class="col-4">Имя</div>
                <div class="col-4">Счет</div>
    </div>
            {% for quiz_profile in top_quiz_profiles %}
            <div class="row">
               <div class="col-4 small">{{ forloop.counter }}</div>
               <div class="col-4 small">{{ quiz_profile.user.username }}</div>
               <div class="col-4 small">{{ quiz_profile.total_score }}</div>
            </div>
            {% endfor %}
        </tbody>
    </table>

{% endif %}
          </div>
{% endblock content %}