{% extends 'base.html' %}
{% block js %}
<script>
     let timerShow = document.getElementById("timer"); // Берём блок для показа времени

    timeMinut = 60


    timer = setInterval(function(){
     seconds = timeMinut%60
         minutes = timeMinut/60%60
         hour = timeMinut/60/60%60
 if (timeMinut <= 0) {
  clearInterval(timer);
  document.getElementById("submit_answer").submit();
 } else{
  let strTimer = `${Math.trunc(hour)}:${Math.trunc(minutes)}:${seconds}`;
  timerShow.innerHTML = strTimer;
 }
 --timeMinut;
    }, 1000)

</script>
{% endblock js %}

{% block content %}
{% if question is None %}
<div class="container center">
  <div class="info-text">
    <h1> Вы ответили на все вопросы. </h1>
    <a href="{% url 'quiz:leaderboard' %}" class="btn1">Смотрите таблицу лидеров здесь</a>
  </div>
</div>

{% else %}

<div margin-left="20%">
  <div class="info-text">
    <h3>{{ question.html|safe }}</h3>
    <form class="form" action="" method="post">
        {% csrf_token %}
        <input type="hidden" name="question_pk" value="{{ question.pk }}">
        {% for choice in question.choices.all %}
          <div>
            <input type="radio" name="choice_pk" id="choice-{{ forloop.counter }}" value="{{ choice.pk }}">
            <label for="choice-{{ forloop.counter }}">
              {{ choice.html|safe }}
            </label>
          </div>

        {% endfor %}
        <input class="btn1" type="submit" value="Submit">
    </form>
      <div class="timer "id="timer">
      </div>
  </div>
</div>
{% endif %}

{% endblock content %}