{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}  СувИОС | Регистрация {% endblock title %}
{% block content %}
{% if not request.user.is_active %}


        <ul class="form-chatgpt">
          <li><h1>Пожалуйста, зарегистрируетесь</h1></li>
                <form method="POST" action="" class="login-form">
                    {% csrf_token %}
                    {{form|crispy}}
                    <li><input type="submit" class="login-form btn" value="Зарегистрироваться"></li>
                    <li><p color="black">или ...</p></li>
                    <li><a href="{% url 'quiz:login' %}" style="text-decoration: none; color: white; height: auto;"><input type="button" class="login-form btn reg" value="Вход"></a></li>
                </form>
      </ul>

{% else %}

      <div class="container center">
        <div class="info-text">
        <h1>СувИОС</h1>
        <p>Проверь свои знания.</p>
        <p>Мы создаем разносторонние задания.</p>
        <a href="{% url 'quiz:play' %}" color="black">СувИОС</a>
        <a href="{% url 'quiz:leaderboard' %}" class="btn1">Таблица Лидеров</a>
        </div>
      </div>  

{% endif %}

{% endblock content %}