{% extends 'base.html' %}

<head>
    <meta charset="UTF-8">
    <title>{% block title %} Выбор предмета {% endblock title%}</title>
</head>

{% block content %}
<div class="container">
    <div class="card card-bg-custom">
      <div class="card-body text-center">
          <h3 class="card-title">Выберите предметы</h3>
          <hr>
          <ul class="list-group list-group-flush">
            {% for subject in subjects %}
                {% with subject_id=subject.id %}
                    <a class="list-group-item home-link" href="{% url 'quiz:play' subject.id %}">{{ subject.title }} (Класс: {{ subject.grade }})</a>
                {% endwith %}
            {% endfor %}
          </ul>
      </div>
    </div>
</div>
{% endblock content %}