{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Профиль{% endblock title %}</title>
</head>
{% block content %}
<div class="container">
    <div class="card card-bg-custom">
      <div class="card-body">
          <h3 class="card-title">Профиль</h3>
          <hr>
          <p class="card-text"><b>Имя пользователя:</b> {{ quizprofile.user }}</p>
          <p class="card-text"><b>Электронная почта:</b> {{ quizprofile.email }}</p>
          <p class="card-text"><b>Общий счёт:</b> {{ total_score }}</p>
      </div>
    </div>
</div>
{% endblock content %}    