{% load static %}
<html lang="ru" class="h-100">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %} {% endblock title %}</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />

    <!-- <link rel="stylesheet" href="{% static 'css/main.css' %}" /> -->
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <!--    {% block css %}
			./styles.css
    {% endblock css %} -->
  </head>
  <body class="d-flex flex-column h-100">
    <header>
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
        <div class="container-fluid">
          <a
            class="navbar-brand align-text-center"
            href="{% url 'quiz:home' %}"
          >
            <!-- img src {% static 'backgrounds/gerb.png' %} -->
            <img
              src="{% static 'backgrounds/gerb.png' %}"
              alt="Logo"
              width="50"
              class="d-inline-block"
            />
            <span class="d-none d-lg-inline-block"
              >Московское Суворовское Военное Училище</span
            >
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNav"
            aria-controls="navbarNav"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto">
              {% if not request.user.is_active %}
							<li class="nav-item">
								<a class="nav-link" href="{% url 'quiz:leaderboard' %}">
									Таблица Лидеров</a
								>
							</li>
							{% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:subjects' %}">Играть</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'quiz:leaderboard' %}">
                  Таблица Лидеров</a
                >
              </li>

              {% endif %}
            </ul>
            <div class="d-flex align-items-center gap-2 mt-4 mt-lg-0">
              {% if not request.user.is_active %}
              <a class="btn btn-outline-light" href="{% url 'quiz:login' %}"
                >Вход</a
              >
              <a class="btn btn-outline-light" href="{% url 'quiz:register' %}"
                >Регистрация</a
              >
              {% else %}
								<a class="btn btn-outline-light" href="{% url 'quiz:logout' %}"> Выйти </a>
							{% endif %}
            </div>
          </div>
        </div>
      </nav>
    </header>
    <main class="container-fluid py-5">
      {% block content %} {% endblock content %}
			
    </main>
    <footer class="footer fixed-bottom mt-auto py-2 bg-dark text-white text-center">
      <p class="mb-2">Все права защищены @ Москва 2023</p>
      <p class="mb-0">
        Почта для обратной связи:
        <a href="mailto:sherihay@m-svu.ru">sherihay@m-svu.ru</a>
      </p>
    </footer>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe"
      crossorigin="anonymous"
    ></script>

    <script src="{% static 'js/main.js' %}"></script>
    {% block js %}

    <script type="text/javascript">
      let timerShow = document.getElementById("timer"); // Берём блок для показа времени

      timeMinut = 60;

      timer = setInterval(function () {
        seconds = timeMinut % 60;
        minutes = (timeMinut / 60) % 60;
        hour = (timeMinut / 60 / 60) % 60;
        if (timeMinut <= 0) {
          clearInterval(timer);
          document.getElementById("submit_answer").submit();
        } else {
          let strTimer = `${Math.trunc(hour)}:${Math.trunc(
            minutes
          )}:${seconds}`;
          timerShow.innerHTML = strTimer;
        }
        --timeMinut;
      }, 1000);
    </script>

    {% endblock js %} -->
  </body>
</html>
