{% extends 'base.html' %}
{% block title %} MBS | Домашняя страница {% endblock title %}
{% block content %}

    <section id="section-jumbotron" class="jumbotron jumbotron-fluid d-flex justify-content-center align-items-center">
      <div class="container text-center">
        <h5 class="lead"><font color="LightSeaGreen">Добро пожаловать, {{ request.user.username }}  </font></h5>
        <h1 class="display-1 text-info">MBS</h1>
        <p class="display-4 d-none d-sm-block">Проверьте свои знания.</p>
        <p class="lead">Мы создаем расносторонние задания.</p>

        {% if not request.user.is_active %}

        <p class="lead">Зарегистрируетесь, если у вас нет еще аккаунта.</p>
        <p><strong> Начните здесь:</strong></p>
        <a href="{% url 'quiz:register' %}" class="btn btn-lg btn-info mt-1"><i class="fa fa-user-plus" aria-hidden="true"></i> Зарегистрируетесь</a>

        {% else %}
        <a href="{% url 'quiz:play' %}" class="btn btn-lg btn-info mt-1">Играть</a>
        <a href="{% url 'quiz:leaderboard' %}" class="btn btn-lg btn-info mt-1">Таблица Лидеров</a>
        {% endif %}
      </div>  
    </section>

{% endblock content %}