{% extends 'base.html' %}
{% block title %} MBS | Таблица Лидеров {% endblock title %}
{% block content %}
<div class="container center">
        <div class="leaderboard">
    <h1><span><i aria-hidden="true"></i> Топ {{ total_count }} игроков <i aria-hidden="true"></i></span></h1>
    <table>
        <thead>
            <tr>
                <th>Позиция</th>
                <th>Имя</th>
                <th>Счет</th>
            </tr>
        </thead>
        <tbody>
            {% for quiz_profile in top_quiz_profiles %}
            <tr>
               <td>{{ forloop.counter }}</td>
               <td>{{ quiz_profile.user.username }}</td>
               <td>{{ quiz_profile.total_score }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
</div>
{% endblock content %}