{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} MBS | {{ title }} {% endblock title %}
{% block content %}
{% if not request.user.is_active %}

    
        
          <ul class="container center">
          <div class="info-text">
          <li><h1>Пожалуйста,войдите в аккаунт</h1></li>
                <form method="POST" action="">
                    {% csrf_token %}
                    {{form|crispy}}
                    <li><input type="submit" class="btn1" value="Войти"></li>
                </form>
                <li><p>или ...</p></li>
                <li><a href="{% url 'quiz:register' %}" class="btn1">Создать аккаунт</a></li>
          </div>
            </ul>  
        
      
{% else %}

    <div class="info-text">
      <div class="container center">
        <h1>СувИОС</h1>
        <p>Проверь свои знания.</p>
        <p>Мы создаем разносторонние задания.</p>
        <a href="{% url 'quiz:play' %}">СувИОС</a>
        <a href="{% url 'quiz:leaderboard' %}">Таблица Лидеров</a>
      </div>
    </div>  
    

{% endif %}

{% endblock content %}