{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} MBS | Регистрация {% endblock title %}
{% block content %}
{% if not request.user.is_active %}

     
        <div class="container center">
            <div class="info-text">
              <h1>Создайте новый аккаунт</h1>
              <form method="POST" action="">
                {% csrf_token %}
		        {{form|crispy}}
		        <input type="submit" class="btn1" value="Регистрация">
              </form>
                <p>или ...</p>
                <a href="{% url 'quiz:login' %}" class="btn1">Вход</a>
            </div>
          </div>
          
      

{% else %}

      <div class="container center">
        <div class="info-text">
        <h1>СувИОС</h1>
        <p>Проверь свои знания.</p>
        <p>Мы создаем разносторонние задания.</p>
        <a href="{% url 'quiz:play' %}" color="black">СувИОС</a>
        <a href="{% url 'quiz:leaderboard' %}" class="btn1">Таблица Лидеров</a>
        </div>
      </div>  

{% endif %}

{% endblock content %}