{% extends 'base.html' %}
{% block title %} СувИОС |  Добро пожаловать!{% endblock title %}
{% block content %}
<div class="container center">
    <div class="info-text">
	      <h2>Поздравляем! Вы успешно вошли.</h2>
	      <h3>Перед прохождением предварительно ознакомтесь с правилами</h3>
                    <h4><strong>Правила : </strong></h4>
                    <p>
                        <ul style="list-style:decimal;">
                            <li>Все вопросы различаются.</li>
                            <li><span color="red">Только один ответ правильный.</span></li>
                            <li>Каждый правильный ответ измеряется в баллах. <span color="red">4 балла за каждый правильный ответ.</span>
                            </li>
                            <li>Каждый вопрос может быть показан всего один раз.</li>
                            <li>Попытайтесь ответить как можно быстрее.</li>
                            <li>Если вы нажмете "Обновить" или "Назад к предыдущей странице", появиться новый вопрос и вопрос который будет засчитан как заново прошедший.</li>
                            <li>Вопросы появляются разные для разных пользователей.</li>
                            <li>Результаты ответа вы увидите сразу после отправки ответа.</li>
                        </ul>
                    </p>
                    <a href="{% url 'quiz:play' %}" class="btn1">Играть</a>  
                <div style="font-size: 16px;margin-top: 40px;font-family: Didot, serif;">Правила правлены 1 февраля 2023 года</div>
            </div>
</div>
{% endblock content %}